<p>tribe<b>hired</b> test!</p>
<hr>

<div *ngFor="let post of posts">
  [userid] {{post.userId}} <br>
  <span *ngIf="secondPage">{{post.title}}
    <a  [routerLink]="['/posts/']">Back</a>
  </span>
  <a *ngIf="!secondPage" [routerLink]="['/posts/'+post.id]">{{post.title}}</a><br>
  {{post.body}} <br>
  <hr>
  <br>


    <div *ngIf="secondPage">
      <!-- search -->
    <div>
  <div *ngFor="let option of options">
    <input type="radio" id="{{option.id}}" [value]="option.value"  [(ngModel)]="selectedOption" [checked]="option.value === selectedOption">
    <label for="{{option.id}}">Search by {{option.value}}</label>
  </div>
        <input type="text" (keyup.enter)="search(searchText)" [(ngModel)]="searchText" class="form-control " placeholder="Search by {{selectedOption}}">
        <button (click)="search(searchText)" type="button">
            <i class="fa fa-search"></i>
        </button>
    </div>
    <hr>


  <br>
  <div *ngFor="let comment of comments">
    [name] {{comment.name}} <br>
    <b>{{comment.email}}</b> <br>
    {{comment.body}} <br><hr>
  </div>
</div>

</div>
